
RewriteEngine On

RewriteRule ^about$ about.php [L]
RewriteRule ^events$ calendar [R,L]
RewriteRule ^calendar$ calendar.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^projects$ projects.php [L]
RewriteRule ^gallery$ gallery.php [L]
RewriteRule ^workshops$ workshops.php [L]
RewriteRule ^regularevents$ regular.php [L]
RewriteRule ^themedthursdays$ themedthursdays.php [L]
RewriteRule ^apply$ apply.php [L]
RewriteRule ^irclinks$ irclinks.php [L]
RewriteRule ^sponsors sponsors.php [L]
RewriteRule ^donate donate.php [L]

RewriteRule ^wiki_logo.png$ - [L]

RewriteRule ^spaceapi$ /spaceapi.php [L]

RewriteRule ^hotpink$ /hotpink.php [L]

RewriteRule ^hub$ https://hub.57north.org.uk/hub/ [L]
RewriteRule ^hub/$ https://hub.57north.org.uk/hub/ [L]

Redirect 301 /workadventure https://wa.tabascoeye.de/_/global/raw.githubusercontent.com/ScottishConsulate/scotconmap/master/main.json 
